<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GCG Workflow</title>


    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/core.css') }}?v=1" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/components.css') }}?v=1" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/frontend.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    {# Angular FATMA #}
    {% if app.request.attributes.get('_route') == "onboarding" %}
        <!-- Workflow CSS -->
        <link href="{{ asset('front-end/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('front-end/assets/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- date picker angular CSS -->
        {#<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />#}

        <link rel="stylesheet" href="{{ asset('front-end/assets/css/font.css')}}">
        <link rel="stylesheet" href="{{ asset('front-end/assets/css/angular-loading.css')}}">
        <link rel="stylesheet" href="{{ asset('front-end/assets/css/style.css')}}">

        <!-- /Workflow CSS -->
    {% endif %}
    {# END Angular FATMA #}






    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>


<body {% if app.request.attributes.get('_route') != "onboarding" %}class="sidebar-xs has-detached-left"{% endif %} ng-app="myApp" style="padding-top: 167px;">

{% block body %}

    <!-- Page container -->
    <div class="page-container" style="min-height: 100%;">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper" style="padding-bottom: 0;">

                <!-- Page header -->
                {% include ":frontend:header.html.twig" %}
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">
                    {% if app.request.attributes.get('_route') != "onboarding" %}
                        <!-- Main sidebar -->
                        {% include ":frontend:sidebar.html.twig" %}
                        <!-- /main sidebar -->
                    {% endif %}

                    {% block content %}{% endblock %}
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include "frontend/footer.html.twig" %}
                <!-- /footer -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
{% endblock %}
{% block javascripts %}{% endblock %}


    {# Angular FATMA #}
    {% if app.request.attributes.get('_route') == "onboarding" %}

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('front-end/jquery-ui/jquery-ui.min.js')}}"></script>
        <script src="{{ asset('front-end/assets/js/bootstrap.min.js')}}"></script>


        <script src="{{ asset('front-end/app/angular/angular.min.js')}}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
        <script src="{{ asset('front-end/app/angular/angular-animate.min.js')}}"></script>
        <!-- date picker angular js -->
        {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>#}
        {#<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>#}
        {#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>#}
        <script src="{{ asset('front-end/assets/js/ng-file-upload-5.0.9.js')}}"></script>
        <script data-require="spin.js@1.2.7" data-semver="1.2.7" src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
        <script src="{{ asset('front-end/app/angular/angular-loading.js')}}"></script>

        <script src="{{ asset('front-end/app.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/drag&dropData.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/drag&dropDirective.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/dataformsService.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/homeController.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/formsController.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/beneficailController.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/stepController.js')}}"></script>
        <script src="{{ asset('front-end/app/controllers/structureController.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>



    {# END Angular FATMA #}
    {% else %}

        <!-- Core JS files -->
        <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/nicescroll.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/pages/sidebar_detached_sticky_custom.js') }}"></script>
        <!-- /core JS files -->

    {% endif %}


</body>
</html>